<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
</head>

<body class="antialiased bg-gray-200">
    <div class="mx-auto px-2 max-w-xl">
        <form class=" mt-10 p-6 bg-white rounded shadow-xl" method="POST" action="/registered">
            <div class="flex justify-center">
                <div class="logo h-12 w-12
                    rounded-full border border-blue-400 p-2">
                    <img src="/image/logo.png" alt="pfe logo">
                </div>
            </div>
            <div style="color:red;"> <% if (locals.message) { %>
              <span ><%= message %></span>
            <% } %></div>
            <div class="mt-2">
                <label class="block text-sm text-gray-00" for="">Nom</label>
                <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="" name="firstname" type="text" required="" placeholder="Entrez votre nom" aria-label="Nom">
            </div>
            <div class="mt-2">
                <label class="block text-sm text-gray-00" for="">Prénom</label>
                <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="" name="lastname" type="text" required="" placeholder="Entrez votre prénom" aria-label="Prénom">
            </div>
            <div class="mt-2">
                <label class="block text-sm " for="cus_email">Email</label>
                <input class="w-full px-5  py-2 text-gray-700 bg-gray-200 rounded" id="" name="email" type="text" required="" placeholder="Entrez votre email" aria-label="Email">
            </div>

            <div class="mt-2">
                <label class="block text-sm " for="">Mot de passe</label>
                <input class="w-full px-5  py-2 text-gray-700 bg-gray-200 rounded" id="" name="password" type="password" required="" placeholder="Entrez un mot de passe" aria-label="Email">
            </div>
            <div class="mt-2">
                <label class="block text-sm " for="">Confirmer mot de passe</label>
                <input class="w-full px-5  py-2 text-gray-700 bg-gray-200 rounded" id="" name="passwordconfirm" type="password" required="" placeholder="Entez votre confirmation ici" aria-label="">
            </div>
            <div class="mt-2">
                <label class="block text-sm" for="">Specialité </label>
                <select
                  class="w-full px-5 py-2 text-gray-700 bg-gray-200 rounded"
                  id="speciality"
                  name="speciality"
                  required
                  aria-label="spcialité"
                >
                  <option value="Generaliste">Généraliste</option>
                  <option value="Anatomie pathologique">Anatomie pathologique</option>
                  <option value="Anesthesie-reanimation">Anesthésie-réanimation</option>
                  <option value="Biochimie">Biochimie</option>
                  <option value="Biologie clinique">Biologie clinique</option>
                  <option value="Cardiologie">Cardiologie</option>
                  <option value="Chirurgie generale">Chirurgie générale</option>
                  <option value="Chirurgie orthopedique">Chirurgie orthopédique</option>
                  <option value="Chirurgie pediatrique">Chirurgie pédiatrique</option>
                  <option value="Chirurgie urologique">Chirurgie urologique</option>
                  <option value="Chirurgie maxillo-faciale">Chirurgie maxillo-faciale</option>
                  <option value="Chirurgie cardio-vasculaire">Chirurgie cardio-vasculaire</option>
                  <option value="Dermatologie">Dermatologie</option>
                  <option value="Endocrinologie – Diabetologie">Endocrinologie – Diabétologie</option>
                  <option value="Gastro-enterologie">Gastro-entérologie</option>
                  <option value="Gyneco-Obstetrique">Gynéco-Obstétrique</option>
                  <option value="Hematologie">Hématologie</option>
                  <option value="Hemobiologie">Hémobiologie</option>
                  <option value="Histo-embryologie">Histo-embryologie</option>
                  <option value="Immunologie">Immunologie</option>
                  <option value="Maladies infectieuses">Maladies infectieuses</option>
                  <option value="Medecine interne">Médecine interne</option>
                  <option value="Medecine legale">Médecine légale</option>
                  <option value="Medecine nucleaire">Médecine nucléaire</option>
                  <option value="Medecine du travail">Médecine du travail</option>
                  <option value="Microbiologie">Microbiologie</option>
                  <option value="Nephrologie">Néphrologie</option>
                  <option value="Neurochirurgie">Neurochirurgie</option>
                  <option value="Neurologie">Neurologie</option>
                  <option value="O.R.L.">O.R.L.</option>
                  <option value="Ophtalmologie">Ophtalmologie</option>
                  <option value="Oncologie medicale">Oncologie médicale</option>
                  <option value="Parasitologie">Parasitologie</option>
                  <option value="Pediatrie">Pédiatrie</option>
                  <option value="Pharmacologie clinique">Pharmacologie clinique</option>
                  <option value="Physiologie">Physiologie</option>
                  <option value="Pneumo-phtisiologie">Pneumo-phtisiologie</option>
                  <option value="Psychiatrie">Psychiatrie</option>
                  <option value="Radiologie">Radiologie</option>
                  <option value="Radiotherapie">Radiothérapie</option>
                  <option value="Reeducation fonctionnelle">Rééducation fonctionnelle</option>
                  <option value="Rhumatologie">Rhumatologie</option>
                </select>
              </div>
            <label class="inline-flex items-center mt-3">
                <input type="radio" class="form-checkbox h-5 w-5 text-blue-600" value="male" name="sex" checked><span
                    class="ml-2 text-gray-700">Homme</span>
            </label>

            <label class="inline-flex items-center mt-3 ml-2">
                <input type="radio" class="form-checkbox h-5 w-5 text-pink-400" value="female" name="sex" checked><span
                    class="ml-2 text-gray-700">Femme</span>
            </label>
            <div class="mt-4 flex justify-center">
                <button class="px-4 py-1 text-white font-semibold tracking-wider bg-blue-400 rounded" type="submit">Confirmer</button>
            </div>
        </form>

    </div>

</body>

</html>